<header class="w-full h-[55px] py-2 text-xl flex justify-around items-center text-yellow-400">
    <div class="logo">cellKart</div>
    <div class="nav">
        <ul class="flex items-center justify-center gap-3">
            <li class="nav-li">Home</li>
            <li class="nav-li">Products</li>
            <li class="nav-li">About</li>
            <li class="nav-li">Contacts</li>
        </ul>
    </div>
    <div class="end">
        <button class="border border-black bg-yellow-400 text-black rounded-md px-3">Login</button>
    </div>
</header>
