<div class="rounded-md overflow-hidden shadow-lg bg-white p-3">
    <img class="w-full h-48 object-contain rounded-md" [src]="product.Image" alt="{{ product.Name }}">
    <div class="py-4">
        <h2 class="text-lg text-black font-semibold mb-2">{{ product.Name }}</h2>
        <p class="text-gray-600"><strong>Brand:</strong> {{ product.Brand }}</p>
        <div class="flex items-center my-2">
            <span class="text-yellow-500 text-lg">{{ product.Rating }}</span>
            <span class="text-gray-500 ml-2">/ 5</span>
        </div>
        <p class="text-green-600 font-semibold text-xl my-2">{{ product.Price | currency:'INR':'symbol-narrow':'4.2-2' }}</p>
        <p class="text-gray-600"><strong>Stock:</strong> {{ product.Stock }} left</p>
        <p class="text-red-500"><strong>Discount:</strong> {{ product.Discount / 100 | percent:'1.0-2' }}</p>
    </div>
    <div class="w-full flex items-center gap-4">
        <!-- Trigger the onEdit method to emit the selected product -->
        <button class="border border-black bg-green-500 text-black rounded-md px-3 py-1" (click)="onEdit()">Edit</button>
        <button class="border border-black bg-red-500 text-black rounded-md px-3 py-1">Delete</button>
    </div>
</div>
